
body {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/**
 * TODO: Add Text Animation, like a wiggle?
 * Animate colors and/or text when transitioning
 */

.text {
  cursor: pointer;
  font-size: 6em;
  color: white;
  letter-spacing: 5px;
  font-weight: 100;
}
